.table{
  width: 100%;
}

.icon{
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .prueba{
    width: 40px;
    height: 40px;
  }

  .text{
    font-size: xx-small;
  }

  .mat-icon { font-size: 15px; }

  .th {
    font-size: xx-small;
  }
}
